entrypoint = "main.py"
modules = ["python-3.10:v18-20230807-322e88b"]
disableGuessImports = true
disableInstallBeforeRun = true

hidden = [
  ".ruff_cache",
  ".venv",
  ".config",
  ".devcontainer",
  ".git",
  ".vscode",
  "**/__pycache__",
  "**/.mypy_cache",
  "**/*.pyc",
  ".pythonlibs",
]

[nix]
channel = "stable-23_05"

[packager]
ignoredPackages = ["twitter", "discord"]

[deployment]
run = ["python", "main.py"]
deploymentTarget = "gce"
ignorePorts = true

[[ports]]
localPort = 8080
externalPort = 80
